.modal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--color-background);
  max-width: 500px;
  padding: var(--spacing-xl);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: grid;
  gap: var(--spacing-md);
}
.overlay {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
}
.numberVotes {
  font-size: 0.75rem;
}
.modalHeader {
  display: flex;
  gap: var(--spacing-md);
}
.ratedContainer {
  display: grid;
  gap: var(--spacing-xl);
  align-content: center;
}
.punctuation {
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
}
.input {
  border: var(--border);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr auto;
}
.button {
  color: var(--color-background);
}
.error {
  color: red;
}
