.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-md);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: var(--spacing-md);
  margin-right: -var(--spacing-md);
  padding-bottom: var(--spacing-md);
  height: 69vh;
}
