.form {
  position: relative;
}
.search {
  display: grid;
  grid-template-columns: 1fr auto;
  border: var(--border);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  max-width: 300px;
}
label {
  top: -0.85rem;
  left: 0.85rem;
  background-color: var(--color-background);
  z-index: 1;
  position: absolute;
  padding: 0 var(--spacing-sm);
}
input {
  background-color: transparent;
  border: none;
  padding: 0.75rem var(--spacing-md);
  width: 100%;
  color: inherit;
}
input:focus {
  outline: none;
}
input[type='submit'] {
  background-color: var(--color-input-button);
  cursor: pointer;
}
